<%= simple_form_for [@skill, @booking] do |f|%>
<%= f.input :date %>


 <div class= "index-skills-back-button d-flex justify-content-center ">
    <%= link_to "Back", @skill, class: "btn btn-lg btn-light"%>
    <%= f.submit %>
  </div>

<% end %>




