<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,800;1,800&display=swap" rel="stylesheet">
</head>


<body>

  <div class="page-wrapper">
    <div class="row">

      <!--Start Column 1: Left for content -->
      <div class="double-column">

        <!--Start White Column -->
        <div class="white-column">
          <div class="first-title">
            <h1>Book your services</h1>
          </div>
          <div class="second-title">
            <h1>TEACHING</h1>
          </div>
        </div>
        <!--End White Column -->

        <!--Start Cards Display-->
        <div class="cards-display">

          <!--Start one card-->
          <div class="card-product">
            <div>
              <div>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
              </div>

              <div class="book-button">
                <p>View</p>
              </div>
            </div>
            <div class="card-product-infos">
              <div class="card-name">
                <h3>(Name)</h3>
              </div>

              <div class="card-skill">
                <h2>(skill)</h2>
              </div>

              <div class="card-location">
                <div class="price">
                  <p>(price)</p>
                </div>
                <div class="location">
                  <p>(location)</p>
                </div>
              </div>

              <div class="remote">
                <p>(remote)</p>
              </div>
            </div>

          </div>
          <!--End one card-->



 <!--Start one card-->
          <div class="card-product">
            <div>
              <div>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
              </div>

              <div class="book-button">
                <p>View</p>
              </div>
            </div>
            <div class="card-product-infos">
              <div class="card-name">
                <h3>(Name)</h3>
              </div>

              <div class="card-skill">
                <h2>(skill)</h2>
              </div>

              <div class="card-location">
                <div class="price">
                  <p>(price)</p>
                </div>
                <div class="location">
                  <p>(location)</p>
                </div>
              </div>

              <div class="remote">
                <p>(remote)</p>
              </div>
            </div>

          </div>
          <!--End one card-->


 <!--Start one card-->
          <div class="card-product">
            <div>
              <div>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
              </div>

              <div class="book-button">
                <p>View</p>
              </div>
            </div>
            <div class="card-product-infos">
              <div class="card-name">
                <h3>(Name)</h3>
              </div>

              <div class="card-skill">
                <h2>(skill)</h2>
              </div>

              <div class="card-location">
                <div class="price">
                  <p>(price)</p>
                </div>
                <div class="location">
                  <p>(location)</p>
                </div>
              </div>

              <div class="remote">
                <p>(remote)</p>
              </div>
            </div>

          </div>
          <!--End one card-->



           <!--Start one card-->
          <div class="card-product">
            <div>
              <div>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
              </div>

              <div class="book-button">
                <p>View</p>
              </div>
            </div>
            <div class="card-product-infos">
              <div class="card-name">
                <h3>(Name)</h3>
              </div>

              <div class="card-skill">
                <h2>(skill)</h2>
              </div>

              <div class="card-location">
                <div class="price">
                  <p>(price)</p>
                </div>
                <div class="location">
                  <p>(location)</p>
                </div>
              </div>

              <div class="remote">
                <p>(remote)</p>
              </div>
            </div>

          </div>
          <!--End one card-->




        </div>
        <!--End Cards Display-->

      </div>
      <!--End Column 1: Left for content -->


      <!--Start Column 2: Right for map-->
      <div class="column">
        <div class="map-column">
          <p>Map coming soon</p>
        </div>
      </div>
      <!--End Column 2: Right for map-->
    </div>
    <!--end of row class-->
  </div>
  <!--end of page-wrapper class-->
</body>


          <!--
          <div class="cards-container">
            <div class="card">
              <div class="row">

                FIRST COLUMN IN CARD: LEFT
                <div class="card-one-column">
                  <div class="card-avatar">
                    <%#= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
                  </div>

                  <div class="book-button">
                    <p>View</p>
                  </div>
                </div>

                SECOND COLUMN IN CARD: RIGHT
                <div class="card-double-column">
                  <div class="card-name">
                    <p>(Name)</p>
                  </div>
                  <div class="card-group">

                    <div class="card-skill">
                      <p>(skill)</p>
                    </div>
                  </div>
                  <div class="card-skill-info">
                    <div class="location">
                      <p>(location)</p>
                    </div>

                    <div class="remote">
                      <p>(remote)</p>
                    </div>

                    <div class="price">
                      <p>(price)</p>
                    </div>
                  </div>
                </div>
                </div>
            </div> -->







