<div class="navbar navbar-expand-sm navbar-light">
    <%= link_to "skillSWAPPER", root_path, class: "navbar-brand" %>

    <div class="collapse navbar-collapse">
      <nav class= "nav nav-masthead justify-content-between" style="text-decoration: none">
          <%= link_to "Categories", root_path, class: "nav-link" %>
          <%= loginBar "nav-link" %>
     </nav>
    </div>
  </div>

