<div class="navbar navbar-expand-sm navbar-light">
    <%= link_to "skillSWAPPER", root_path, class: "navbar-brand" %>


      <nav class= "nav nav-masthead justify-content-between">
          <%= link_to "Categories", "#", class: "nav-link" %>
          <%=  loginBar "nav-link" %>
     </nav>
    </div>
  </div>