

.btn {
    padding: 10px 15px;
    border-color:#006A52;
    color:#006A52;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 20px 100px;

}

p {
color:#006A52;
font-weight: bold;
font-family:'Roboto', sans-serif;
text-align: center;
margin:0;
}


.navigation-bar-icons {
 a {
  display: block;
  border-style: solid;
  border-color:#006A52;
  border-radius:10px;
  height: 80px;
  width: 30px;
  margin: 10px;
  text-align: center;

 }
}


.col-6 {
font-family:'Roboto', sans-serif;
padding: 7px 5px 5px 5px;
display: flex;
align-items: center;
p {
 color:#006A52;
 font-weight: light;
 font-family:'Roboto', sans-serif;
 padding: 0;
 font-size: 8px;

}
img {
margin-top: 3px;

}

}



