.left-container{
border-style: solid 5px black;

}


.btn {
    padding: 10px 15px;
    // border-color:#006A52;
    color:#006A52;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 20px 100px;

}

p {
color:#006A52;
font-weight: bold;
font-family:'Roboto', sans-serif;
text-align: center;
margin:0;
}

.navigation-bar-icons {
 a {
  display: block;
  border-style: solid;
  border-color:#006A52;
  border-radius:10px;
  height: 80px;
  width: 30px;
  margin: 10px;
  text-align: center;

 }

 a:hover{
 opacity:0.5;
 text-decoration: none;
 }
}






