
.skill-home-page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.skill-home-page-collumn {
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100vh;
  background-color: white;
}

.column {
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100vh;
  background-color: lightgrey;
  justify-content: center;
  align-items: center;

}

.white-column {
  //border: 1px solid black;
}


.first-title h2 {
  //border: 1px solid black;
  text-decoration: none;
  font-weight: bolder;
  color: #F3F2F2;
  margin-bottom: 0;
}

.second-title h2 {
  //border: 1px solid black;
  text-decoration: none;
  font-weight: bolder;
  color: #006A52;
  margin-top: 0;
  padding-left: 40%;
  font-family: 'Montserrat', sans-serif;

}


// card display section starts here//



.cards-display {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}


// one card starts here//

.card-product {
  //border: 1px solid black;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  width: 350px;
  padding: 0;
  margin-top: 30px;
  border-radius: 10px;
}

.avatar-large {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-top: 5px;
}

.card-product-infos {
  //border: 1px solid black;
  width: 100%;
  height: 100%;

}

.card-name {
  //border: 1px solid black;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}


.card-skill {
  //border: 1px solid black;
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(0,106,82, 0.4));
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-location {
  display: flex;
  justify-content: space-between;
  padding: 3px 5px;
}

.remote {
  padding-right: 5px;
}

.remote p{
  //border: 1px solid black;
  text-align: right;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  color: #006A52;
}


.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  padding: 0;
}

.skill-home-page-book-button {
  //border-radius: 20px;
  width: 70px;
  height: 20px;
  margin-right: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0, 0.2);
  background-color: white;
  text-align: center;
  border: 1px solid #006A52;
  margin-left: 10px;
  padding-bottom: 0;
}

.skill-home-page-book-button p {
  color: #006A52;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}

// one card starts here//

// card display section ends here//

.map-column p {
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}


.index-skills-back-button {
  .btn{
  padding: 10px 25px;
  border: solid 2px #006A52;
  }
  .btn:hover{
  background-color:yellow;
  color:  #898b8a;
  }

  }



































