
.skill-home-page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.skill-home-page-collumn {
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100vh;
  background-color: rgb(247,247,247);
}

.column {
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100vh;
  // background-color: lightgrey;
  justify-content: center;
  align-items: center;

}

.white-column .btn {
  margin-right: auto;
}


.white-column > h2 {
  //border: 1px solid black;
  text-decoration: none;
  font-weight: bolder;
  color: lightgrey;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


// card display section starts here//



.cards-display {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}


// one card starts here//

.one-card {
  //border: 1px solid black;
  height: 200px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  width: 400px;
  padding: 0;
  margin-top: 30px;
  border-radius: 3px;
  border: 1px solid rgb(247,247,247);
  justify-content: space-between;
}

.thumbnail {
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin: 10px auto;

}


.thumbnail > img {
    width: 120px;
    height: 100%;
    object-fit: cover;
}

.one-card-content {
  //border: 1px solid red;
  width: 60%;
  height: 100%;
  padding-top: 20px;
}

.one-card-left {
  //border: 1px solid red;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
}

.one-card-content > h2 {
  text-align: left;
}

.one-card-content > h3 {
  text-align: left;
  color: rgb(105, 129, 87);
}

.one-card-content > p {
  text-align: left;
  color: grey;
}

.skill-home-page-view-button {
  //border-radius: 20px;
  text-align: center;
  border: 1px solid #006A52;
  border-radius: 10px;
  padding: 5px 10px;
  color:: #006A52;
  background-color: white;
}

.skill-home-page-view-button:hover {
  color: #006A52;
  font-weight: 200;
  text-decoration: none;
}

// one card starts here//

// card display section ends here//

.map-column > p {
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}


.index-skills-back-button {
  .btn{
  padding: 10px 25px;
  border: solid 2px #006A52;
  align-self: left;
  }

  .btn:hover{
  background-color:yellow;
  color:  #898b8a;
  }

  }



//
//










































