.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.double-column {
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  height: 100vh;
  background-color: white;
}

.column {
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100vh;
  background-color: lightgrey;
  justify-content: center;
  align-items: center;

}

.white-column {
  border: 1px solid black;
}


.first-title h1 {
  //border: 1px solid black;
  font-weight: bolder;
  color: #F3F2F2;
  margin-bottom: 0;
}

.second-title h1 {
  //border: 1px solid black;
  font-weight: bolder;
  color: #006A52;
  margin-top: 0;
  padding-left: 40%;
  font-family: 'Montserrat', sans-serif;
}


// card starts here//


.card {
  //border: 1px solid black;
  margin: 50px;
  height: 200px;
  width: 300px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0, 0.2);
}

.cards-container {
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.card .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.card-double-column {
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  height: 200px;
  flex: 2;
  background-color: white;
}

.card-one-column {
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background-color: white;
  justify-content: center;
  align-items: center;

}

.avatar-large {
  width: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.book-button {
  //border-radius: 20px;
  width: 70px;
  height: 30px;
  align-self: center;
  margin-right: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0, 0.2);
  background-color: white;
  text-align: center;
  border: 1px solid #006A52;
}

.book-button p {
  color: #006A52;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}

.card-skill {
  background-color: rgba(0,106,82, 0.2);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-skill p{
  color: black;
}


.card-skill-info p{
  color: #A09898;
  text-align: right;
  font-size: small;
}

.card-skill-info .price p{
  color: #006A52;
}














































