body {
  margin: 0;
  margin-bottom: 100px;
  background-color: #F7F7F7;
}

.form-actions-back-button {
  margin-right: auto;
}

.skills-show-container {
  max-width: 70vw;
  margin: 30px auto;
  background-color: white;
}

.first-section {
  //border: 1px solid black;
  display: flex;
  justify-content: left;
  margin-top: 0;
  padding: 30px;
  background-color: rgb(206,216,200);
}


//
// .avatar-container {
//   border: 1px solid black;
//   width: 300px;
//   height: 300px;
// }

// .avatar-picture {
  //border: 1px solid black;
// }

.user-information {
  margin-left: 50px;
  //border: 1px solid black;
}

.user-information > h2 {

  font-family: 'Quicksand', sans-serif;
}


#info-box-name {
  //border: 1px solid black;
  text-align: left;

}

.info-box-description {
  //border: 1px solid black;
  text-align: left;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  color: black;
  padding-bottom: 10px;
}



#info-box-location {
  //border: 1px solid black;
  text-align: left;
  color: black;
}

#info-box-contact {
  //border: 1px solid black;
  text-align: left;
  color: black;
}


/*SECOND SECTION OF PAGE STARTS*/

.second-section {
  //border: 1px solid black;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.service-box {
  //border: 1px solid black;
  margin: 10px;
  padding-right: 20px;

}

// SERVICE below

.service-box > p{
  width: 500px;
  height: 300px;
}

#service-name  > p{
  //border: 1px solid black;
  text-align: left;
  color: black;
  font-size: 30px;
  border-bottom: 1px solid grey;

}

#service-category  > p{
  //border: 1px solid black;
  text-align: left;
  color: black;
  font-weight: lighter;
  margin-top: 5px;
}

#service-description  > p{
  //border: 1px solid black;
  text-align: left;
  color: black;
  font-weight: light;
}

#service-location  > p{
  //border: 1px solid black;
  margin-top: 20px;
  text-align: left;
  color: black;
  font-weight: lighter;
}

#service-price  > p{
  //border: 1px solid black;
  text-align: left;
  color: black;
  font-weight: lighter;
}

.service-book-button {
  //border: 1px solid black;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  background-color: #006A52;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.service-book-button > p {
  color: white;
  text-align: center;
  //border: 1px solid black;

}

#book-button:hover {
  background-color: yellow;
  color: #898b8a;
}





// SHOWCASE below



.showcase-container {
  //border: 1px solid black;
  width: 600px;
  height: 400px;
  //box-shadow: 10px 10px 5px 0px rgba(0,0,0, 0.2);
  background-color: rgba(134,157,116, 0.4);
  border-radius: 20px;
  margin-right: 10px;

}

.showcase-title {
  //border: 1px solid black;
  padding: 10px;
  height: 10%;
  text-align: center;
  border-radius: 20px 20px 0 0;
}


.showcase-info {
  //border: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 80%;
  background-color: white;
}

.image-holder {
  //border: 1px solid black;
  height: 300px;
  width: 300px;
}

















/*services-card customization ends*/
