body {
  margin: 0;
  margin-bottom: 100px;
  background-color: #F7F7F7;
}


.users-show-container {
  max-width: 70vw;
  margin: 30px auto;
  background-color: white;
}

.first-section {
  //border: 1px solid black;
  display: flex;
  justify-content: left;
  margin-top: 0;
  padding: 30px;
  background-color: rgb(206,216,200);
}



//
// .avatar-container {
//   border: 1px solid black;
//   width: 300px;
//   height: 300px;
// }

// .avatar-picture {
  //border: 1px solid black;
// }

.user-information {
  margin-left: 50px;
  //border: 1px solid black;
}

.user-information > h2 {

  font-family: 'Quicksand', sans-serif;
}


#info-box-name {
  //border: 1px solid black;
  text-align: left;

}

.info-box-description {
  //border: 1px solid black;
  text-align: left;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  color: black;
  padding-bottom: 10px;
}

#info-box-location {
  //border: 1px solid black;
  text-align: left;
  color: black;

}

#info-box-contact {
  //border: 1px solid black;
  text-align: left;
  color: black;
}


/*SECOND SECTION OF PAGE STARTS*/

.second-section {
  display: flex;
  justify-content: space-around;
  //border: 1px solid black;
  padding-top: 30px;

}

.services-container {
  //border: 1px solid black;
  width: 400px;
  height: 400px;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 0;
}

.services-container h2{
  font-family: 'Quicksand', sans-serif;
}

.one-service {
  //border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #F7F7F7;
  border-bottom: 1px solid lightgrey;
}

.one-service-name > p{
  text-align: left;
  padding-left: 5px;
}

.one-service-category > p{
  text-align: left;
  padding-left: 5px;

  color: rgba(105, 129, 87, 0.5);
}

.one-service-buttons {
  //border: 1px solid black;
  align-items: center;
  justify-content: right;
}

.one-service-view-button {
  color: rgba(0, 0, 0, 0.4);
  padding: 1px 20px;;
  border-radius: 20px;
  width: 20px;
  height: 30px;
  font-size: smaller;
}

.one-service-book-button {
  //border: 1px solid black;
  width: 20px;
  height: 30px;
  background-color: #006A52;
  justify-content: center;
  align-items: center;
  font-size: smaller;
  color: white;
  padding: 1px 20px;
  border-radius: 20px;
}


.one-service-view-button:link {
  color: rgba(0, 0, 0, 0.4);
}

.one-service-view-button:visited {
  color: rgba(0, 0, 0, 0.4);
}

.one-service-view-button:hover {
  color: rgba(0, 0, 0, 0.4);
}

.one-service-view-button:active {
  color: rgba(0, 0, 0, 0.4);
}

.one-service-book-button:link {
  color: white;
}

.one-service-book-button:visited {
  color: white;
}

.one-service-book-button:hover {
  color: white;
  text-decoration: none;
}

.one-service-book-button:active {
  color: white;
}


// .one-service-book-button > h3 {
//     border: 1px solid black;
//     font-size: smaller;
//     text-decoration: none;
 // }




.booking-container {
  //border: 1px solid black;
  width: 600px;
  height: 250px;
  //box-shadow: 10px 10px 5px 0px rgba(0,0,0, 0.2);
  background-color: white;
  margin-right: 5px;
  margin-top: 5px;
}

.booking-container h2{
  font-family: 'Quicksand', sans-serif;
}

.booking-header {
  //border: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: lightgrey;
}

.booking-header .booking-skill {
  //border: 1px solid black;
  width: 150px;
  height: 30px;
  align-self: center;
}

.booking-header .booking-name {
  //border: 1px solid black;
  width: 150px;
  height: 30px;
  align-self: center;

}

.booking-header .booking-date {
  //border: 1px solid black;
  width: 150px;
  height: 30px;
  align-self: center;
}

.booking-content {
  //border: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.booking-content .booking-skill {
  //border: 1px solid black;
  width: 150px;
  height: 30px;
  align-self: center;
}

.booking-content .booking-name {
  //border: 1px solid black;
  width: 150px;
  height: 30px;
  align-self: center;

}

.booking-content .booking-date {
  //border: 1px solid black;
  width: 150px;
  height: 30px;
  align-self: center;
}


.booking-header .booking-skill p{
  color: black;
  font-family: 'Quicksand', sans-serif;

}


.booking-header .booking-name p{
  color: black;
  font-family: 'Quicksand', sans-serif;

}

.booking-header .booking-date p{
  color: black;
  font-family: 'Quicksand', sans-serif;

}


.booking-content .booking-skill p{
  color: black;
  font-weight: lighter;

}


.booking-content .booking-name p{
  color: black;
  font-weight: lighter;
}

.booking-content .booking-date p{
  color: black;
  font-weight: lighter;
}












