body {
  margin: 0;
  margin-bottom: 100px;
  background-color: #F7F7F7;
}

.form-actions-back-button {
  margin-right: auto;
}

.users-show-container {
  max-width: 70vw;
  margin: 30px auto;
  background-color: white;
}

.first-section {
  //border: 1px solid black;
  display: flex;
  justify-content: left;
  margin-top: 0;
  padding: 30px;
  background-color: rgb(206,216,200);
}



//
// .avatar-container {
//   border: 1px solid black;
//   width: 300px;
//   height: 300px;
// }

// .avatar-picture {
  //border: 1px solid black;
// }

.user-information {
  margin-left: 50px;
  //border: 1px solid black;
}

.user-information > h2 {

  font-family: 'Quicksand', sans-serif;
}


#info-box-name {
  //border: 1px solid black;
  text-align: left;

}



#info-box-location {
  //border: 1px solid black;
  text-align: left;
  color: black;
}

#info-box-contact {
  //border: 1px solid black;
  text-align: left;
  color: black;
}


/*SECOND SECTION OF PAGE STARTS*/

.second-section {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  //border: 1px solid black;
}

.services-container {
  //border: 1px solid black;
  width: 400px;
  height: 250px;
  margin: 20px;
  padding: 5px;
}

.one-service {
  //border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #F7F7F7;
  border-bottom: 1px solid lightgrey;
}

.one-service-info {
  //border: 1px solid black;
}

.one-service-buttons {
  //border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;

}

.one-service-view-button {
  border: 1px solid #006A52;
  border-radius: 20px;
  width: 70px;
  height: 30px;
  background-color: white;
  color: #006A52;
}

.one-service-book-button {
  //border: 1px solid black;
  border-radius: 20px;
  width: 70px;
  height: 30px;
  margin-left: 5px;
  background-color: #006A52;
  color: white;
}

// .services-card {
//   margin: 10px;
//   width: 400px;
//   height: 50px;
//   display: flex;
//   justify-content: space-between;
//   box-shadow: 10px 10px 5px 0px rgba(0,0,0, 0.2);
//   background-color: white;
//   border: 1px solid black;

// }

// .book-button {
//   border-radius: 20px;
//   width: 70px;
//   height: 30px;
//   align-self: center;
//   margin-right: 5px;
//   box-shadow: 10px 10px 5px 0px rgba(0,0,0, 0.2);
//   background-color: #006A52;
//   color: white;
//   text-align: center;
//   border: 1px solid black;

// }

// .view-button {
//   border-radius: 20px;
//   width: 70px;
//   height: 30px;
//   align-self: center;
//   margin-right: 5px;
//   box-shadow: 10px 10px 5px 0px rgba(0,0,0, 0.2);
//   // background-color: #006A52;
//   color: white;
//   text-align: center;
//   border: 1px solid black;

// }




.booking-container {
  //border: 1px solid black;
  width: 600px;
  height: 250px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0, 0.2);
  background-color: white;
}

.booking-header {
  //border: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: lightgrey;
}

.booking-header .booking-skill {
  //border: 1px solid black;
  width: 150px;
  height: 30px;
  align-self: center;
}

.booking-header .booking-name {
  //border: 1px solid black;
  width: 150px;
  height: 30px;
  align-self: center;

}

.booking-header .booking-date {
  //border: 1px solid black;
  width: 150px;
  height: 30px;
  align-self: center;
}

.booking-content {
  //border: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.booking-content .booking-skill {
  //border: 1px solid black;
  width: 150px;
  height: 30px;
  align-self: center;
}

.booking-content .booking-name {
  //border: 1px solid black;
  width: 150px;
  height: 30px;
  align-self: center;

}

.booking-content .booking-date {
  //border: 1px solid black;
  width: 150px;
  height: 30px;
  align-self: center;
}
























